@page "/"

<PageTitle>About me - Portfolio</PageTitle>

<Card Margin="mb-4" Padding="py-3">
    <Content>
        <div class="row">
            <div class="col-2 ms-5 me-4">
                <img src="@_dto.ProfileImage" alt="Profile image" class="img-fluid rounded-circle"
                     style="box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .3)"/>
            </div>

            <div class="col-9 align-content-center">
                <h6 class="text-muted">Hi, my name is</h6>
                <h1>@_dto.Name</h1>
                <h2 class="text-muted">@_dto.Description</h2>
            </div>
        </div>
    </Content>
</Card>

<div class="row">
    <div class="col">
        <Card Title="Personal information" Padding="p-3" Height="h-100">
            <Content>
                <div class="row my-3">
                    <div class="col">
                        <LabelText
                            Icon="bi-hammer"
                            Label="Professional"
                            Text="@_dto.Professional"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <LabelText
                            Icon="bi-book"
                            Label="Education"
                            Text="@_dto.Education"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <LabelText
                            Icon="bi-gender-ambiguous"
                            Label="Gender"
                            Text="@_dto.Gender"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <LabelText
                            Icon="bi-cake2"
                            Label="Date of birth"
                            Text="@_dto.DateOfBirth"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <LabelText
                            Icon="bi-geo"
                            Label="Location"
                            Text="@_dto.Location"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <LabelLink
                            Icon="bi-envelope"
                            Label="E-Mail"
                            Mailto="@_dto.Email"
                            Text="@_dto.Email"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <LabelLink
                            Icon="bi-github"
                            Label="GitHub"
                            Link="https://www.github.com"
                            Text="@_dto.GitHub"/>
                    </div>
                </div>
            </Content>
        </Card>
    </div>

    <div class="col">
        <Card Title="My story" Padding="p-3" Height="h-100">
            <Content>
                @((MarkupString)_dto.MyStory)
            </Content>
        </Card>
    </div>
</div>

@code {

    [Inject]
    IDataService DataService { get; set; } = default!;

    AboutMeDto _dto = new();

    protected override async Task OnInitializedAsync()
    {
        _dto = await DataService.GetAboutMeAsync();
    }

}