@page "/education"

<PageTitle>Eduction - Portfolio</PageTitle>

@foreach (SchoolDto school in _dto.Schools)
{
    <div class="row mb-4">
        <div class="col">
            <Card Padding="p-3">
                <Content>
                    <div class="row">
                        <div class="col">
                            <h3>@school.Title</h3>
                            <span>@((MarkupString)school.Date)</span>
                        </div>

                        <div class="col d-flex align-items-center">
                            <img src="img/companies/@school.Logo" alt="@school.Name logo" class="me-3"
                                 style="width: @(school.Name is "Algebra University" ? "2.8" : "3.8")rem;"/>

                            <div>
                                <span class="d-block fs-5">@school.Name</span>
                                <span class="small text-muted">@school.Location</span>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col lh-lg" style="text-align: justify;">
                            @((MarkupString)school.Description)
                        </div>

                        <div class="col lh-lg">
                            @foreach (string subject in school.Subjects)
                            {
                                <span class="d-block">
                                    <i class="bi bi-dot"></i> @subject
                                </span>
                            }
                        </div>
                    </div>
                </Content>
            </Card>
        </div>
    </div>
}

<div class="row mb-4">
    <div class="col">
        <Card Padding="p-3" Title="Certifications">
            <Content>
                <div class="lh-lg">
                    @foreach (string certificate in _dto.Certifications)
                    {
                        <span class="d-block fs-6">
                            <i class="bi bi-dot"></i> @((MarkupString)certificate)
                        </span>
                    }
                </div>
            </Content>
        </Card>
    </div>
</div>

@code {

    [Inject]
    IDataService DataService { get; set; } = default!;

    EducationDto _dto = new();

    protected override async Task OnInitializedAsync()
    {
        _dto = await DataService.ParseJsonAsync<EducationDto>("education");
    }

}