@page "/other-skills"

<PageTitle>Other skills - Portfolio</PageTitle>

<div class="row mb-4">
    <div class="col-8">
        <Card Padding="p-3" Title="Soft skills" Height="h-100">
            <Content>
                <ul class="list-group list-group-flush">
                    @foreach (string skill in _dto.SoftSkills)
                    {
                        <li class="list-group-item border-0 ps-0">
                            <i class="bi bi-dot"></i>
                            @((MarkupString)skill)
                        </li>
                    }
                </ul>
            </Content>
        </Card>
    </div>

    <div class="col-4">
        <Card Padding="p-3" Title="Language skills" Height="h-100">
            <Content>
                <h5 class="mt-4">
                    <span class="text-muted small">Mother tongue:</span> <span class="fw-bold">@_dto.MotherTongue</span>
                </h5>

                <hr/>

                @foreach (LanguageDto language in _dto.Languages)
                {
                    <h5 class="fw-bold mb-3">@language.Name</h5>

                    <div class="row mb-3">
                        <div class="col">
                            <LabelText Icon="bi-ear" Label="Listening" Text="@language.Listening"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <LabelText Icon="bi-book" Label="Reading" Text="@language.Reading"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <LabelText Icon="bi-megaphone" Label="Spoken production" Text="@language.SpokenProduction"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <LabelText Icon="bi-people" Label="Spoken interaction" Text="@language.SpokenInteraction"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <LabelText Icon="bi-pencil-square" Label="Writing" Text="@language.Writing"/>
                        </div>
                    </div>
                }

                <div class="small text-muted">
                    <p class="mb-0">Levels:</p>
                    <p class="mb-0">A1 & A2 - Basic</p>
                    <p class="mb-0">B1 & B2 - Independent</p>
                    <p class="mb-0">C1 & C2 - Proficient</p>
                </div>
            </Content>
        </Card>
    </div>
</div>

@code {

    [Inject]
    IDataService DataService { get; set; } = default!;

    OtherSkillsDto _dto = new();

    protected override async Task OnInitializedAsync()
    {
        _dto = await DataService.ParseJsonAsync<OtherSkillsDto>("other-skills");
    }

}