@page "/other-skills"

<PageTitle>Other skills - Portfolio</PageTitle>

<div class="row mb-4">
    <div class="col">
        <Card Padding="p-3" Title="Soft skills">
            <Content>
                <ul class="list-group list-group-flush">
                    @foreach (string skill in _dto.SoftSkills)
                    {
                        <li class="list-group-item border-0 ps-0">
                            <i class="bi bi-dot"></i>
                            @((MarkupString)skill)
                        </li>
                    }
                </ul>
            </Content>
        </Card>
    </div>
</div>

<div class="row">
    <div class="col">
        <Card Padding="p-3" Title="Language skills">
            <Content>
                <h5 class="my-4">
                    <span class="text-muted small">Mother tongue:</span> <span class="fw-bold">@_dto.MotherTongue</span>
                </h5>

                @foreach (LanguageDto language in _dto.Languages)
                {
                    <h5 class="fw-bold">@language.Name</h5>
                    <table class="table border text-center">
                        <caption class="small text-muted">
                            Levels: A1 and A2 - Basic user; B1 and B2 – Independent user; C1 and C2 – Proficient user
                        </caption>
                        <thead>
                            <tr>
                                <th class="small text-muted">
                                    <i class="bi bi-ear me-1"></i>
                                    Listening
                                </th>
                                <th class="small text-muted">
                                    <i class="bi bi-book me-1"></i>
                                    Reading
                                </th>
                                <th class="small text-muted">
                                    <i class="bi bi-megaphone me-1"></i>
                                    Spoken production
                                </th>
                                <th class="small text-muted">
                                    <i class="bi bi-people me-1"></i>
                                    Spoken interaction
                                </th>
                                <th class="small text-muted">
                                    <i class="bi bi-pencil-square me-1"></i>
                                    Writing
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fw-bold">@language.Listening</td>
                                <td class="fw-bold">@language.Reading</td>
                                <td class="fw-bold">@language.SpokenProduction</td>
                                <td class="fw-bold">@language.SpokenInteraction</td>
                                <td class="fw-bold">@language.Writing</td>
                            </tr>
                        </tbody>
                    </table>
                }
            </Content>
        </Card>
    </div>
</div>

@code {

    [Inject]
    IDataService DataService { get; set; } = default!;

    OtherSkillsDto _dto = new();

    protected override async Task OnInitializedAsync()
    {
        _dto = await DataService.ParseJsonAsync<Dtos.OtherSkillsDto>("other-skills");
    }

}