@page "/skills"

<PageTitle>Skills - Portfolio</PageTitle>

<div class="row mb-4">
    <div class="col-8">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Programming languages" Icon="bi-code-square" Skills="@_dto.ProgrammingLanguages"/>
            </Content>
        </Card>
    </div>

    <div class="col-4">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Operating systems" Icon="bi-display" Skills="@_dto.OperatingSystems"/>
            </Content>
        </Card>
    </div>
</div>

<div class="row mb-4">
    <div class="col-5">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Frontend" Icon="bi-columns" Skills="@_dto.Frontend"/>
            </Content>
        </Card>
    </div>

    <div class="col-7">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Backend" Icon="bi-hdd-rack" Skills="@_dto.Backend"/>
            </Content>
        </Card>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Testing" Icon="bi-eyedropper" Skills="@_dto.Testing"/>
            </Content>
        </Card>
    </div>

    <div class="col">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Database" Icon="bi-database" Skills="@_dto.Database"/>
            </Content>
        </Card>
    </div>

    <div class="col">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Version control" Icon="bi-file-diff" Skills="@_dto.VersionControl"/>
            </Content>
        </Card>
    </div>
</div>

<div class="row mb-4">
    <div class="col-4">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Architecture" Icon="bi-buildings" Skills="@_dto.Architecture"/>
            </Content>
        </Card>
    </div>

    <div class="col-5">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Design patterns" Icon="bi-flower2" Skills="@_dto.DesignPatterns"/>
            </Content>
        </Card>
    </div>

    <div class="col-3">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Design principles" Icon="bi-pencil-square" Skills="@_dto.DesignPrinciples"/>
            </Content>
        </Card>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="CI/CD" Icon="bi-rocket-takeoff" Skills="@_dto.Cicd"/>
            </Content>
        </Card>
    </div>

    <div class="col">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Methodologies" Icon="bi-list-ol" Skills="@_dto.Methodologies"/>
            </Content>
        </Card>
    </div>
</div>

<div class="row mb-4">
    <div class="col-5">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Development tools" Icon="bi-keyboard" Skills="@_dto.DevelopmentTools"/>
            </Content>
        </Card>
    </div>

    <div class="col-4">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Project management tools" Icon="bi-trello" Skills="@_dto.ProjectManagementTools"/>
            </Content>
        </Card>
    </div>

    <div class="col-3">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Productivity tools" Icon="bi-gear" Skills="@_dto.ProductivityTools"/>
            </Content>
        </Card>
    </div>
</div>

<div class="row mb-4">
    <div class="col-9">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Soft skills" Icon="bi-chat-heart" Skills="@_dto.SoftSkills"/>
            </Content>
        </Card>
    </div>

    <div class="col-3">
        <Card Padding="p-3" Height="h-100">
            <Content>
                <SkillList Label="Language skills" Icon="bi-translate" Skills="@_dto.LanguageSkills"/>
            </Content>
        </Card>
    </div>
</div>

@code {

    [Inject]
    IDataService DataService { get; set; } = default!;

    SkillsDto _dto = new();

    protected override async Task OnInitializedAsync()
    {
        _dto = await DataService.ParseJsonAsync<SkillsDto>("skills");
    }

}