@page "/technical-skills"

<PageTitle>Technical skills - Portfolio</PageTitle>

<Card Padding="pt-5" Margin="mb-4">
    <Content>
        @for (int i = 0; i < _dto.Skills.Count; i += 4)
        {
            <div class="row mb-5 align-items-center">
                @for (int j = i; j < i + 4 && j < _dto.Skills.Count; j++)
                {
                    <div class="col text-center">
                        <span class="badge text-bg-primary fs-4 p-4 rounded-4 border"
                              style="box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .3);">
                            @((MarkupString)_dto.Skills[j])
                        </span>
                    </div>
                }
            </div>
        }
    </Content>
</Card>

<Card Padding="p-3" Margin="mb-4">
    <Content>
        <SkillList Label="Language" Icon="bi-code-square" Skills="@_dto.ProgrammingLanguages" Margin="mb-5"/>
        <SkillList Label="Architecture" Icon="bi-buildings" Skills="@_dto.Architecture" Margin="mb-5"/>
        <SkillList Label="Pattern" Icon="bi-flower2" Skills="@_dto.Pattern" Margin="mb-5"/>
        <SkillList Label="Methodology" Icon="bi-list-ol" Skills="@_dto.Methodology" Margin="mb-5"/>
        <SkillList Label="Other" Icon="bi-box2" Skills="@_dto.Other"/>
    </Content>
</Card>

@code {

    [Inject]
    IDataService DataService { get; set; } = default!;

    TechnicalSkillsDto _dto = new();

    protected override async Task OnInitializedAsync()
    {
        _dto = await DataService.ParseJsonAsync<TechnicalSkillsDto>("technical-skills");
    }

}