@page "/technical-skills"

<PageTitle>Technical skills - Portfolio</PageTitle>

<Card Padding="pt-5" Margin="mb-4">
    <Content>
        @for (int i = 0; i < _dto.Skills.Count; i += 4)
        {
            <div class="row mb-5">
                @for (int j = i; j < i + 4 && j < _dto.Skills.Count; j++)
                {
                    <div class="col">
                        <ImageText
                            Src="@_dto.Skills[j].Src"
                            Alt="@_dto.Skills[j].Alt"
                            Text="@_dto.Skills[j].Text"/>
                    </div>
                }
            </div>
        }
    </Content>
</Card>

<Card Padding="p-3">
    <Content>
        <div class="mb-4">
            <span class="text-muted small me-3">
                <i class="bi bi-buildings me-1"></i>
                Architecture
            </span>

            @foreach (string architecture in _dto.Architecture)
            {
                <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">@architecture</span>
            }
        </div>

        <div class="mb-4">
            <span class="text-muted small me-3">
                <i class="bi bi-flower2 me-1"></i>
                Pattern
            </span>

            @foreach (string pattern in _dto.Pattern)
            {
                <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">@pattern</span>
            }
        </div>

        <div class="mb-4">
            <span class="text-muted small me-3">
                <i class="bi bi-list-ol me-1"></i>
                Methodology
            </span>

            @foreach (string methodology in _dto.Methodology)
            {
                <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">@methodology</span>
            }
        </div>

        <div>
            <span class="text-muted small me-3">
                <i class="bi bi-box2 me-1"></i>
                Other
            </span>

            @foreach (string other in _dto.Other)
            {
                <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">@other</span>
            }
        </div>
    </Content>
</Card>

@code {

    [Inject]
    IDataService DataService { get; set; } = default!;

    TechnicalSkillsDto _dto = new();

    protected override async Task OnInitializedAsync()
    {
        _dto = await DataService.ParseJsonAsync<TechnicalSkillsDto>("technical-skills");
    }

}