@page "/work-experience"

<PageTitle>Work experience - Portfolio</PageTitle>

@foreach (WorkExperienceDto workExperience in _dto)
{
    <div class="row mb-4">
        <div class="col">
            <Card Padding="p-3">
                <Content>
                    <div class="row">
                        <div class="col">
                            <h3>@workExperience.Position</h3>
                            <span>@((MarkupString)workExperience.Date)</span>
                        </div>

                        <div class="col d-flex align-items-center">
                            <img src="img/companies/@workExperience.Logo" alt="@workExperience.Company logo" class="me-3"
                                 style="@(workExperience.Company is "Infinum" ? "width: 3rem; height: 1.5rem;" : "width: 2.5rem;")"/>

                            <div>
                                <span class="d-block fs-5">@workExperience.Company</span>
                                <span class="small text-muted">@workExperience.CompanyLocation</span>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    @for (int i = 0; i < workExperience.Projects.Count; i++)
                    {
                        ProjectDto project = workExperience.Projects[i];

                        <div class="row" style="text-align: justify">
                            <div class="col">
                                <span class="fw-bold d-block">@project.Name</span>

                                <p class="mb-0 lh-lg">
                                    @((MarkupString)project.Description)
                                </p>
                            </div>

                            @if (!string.IsNullOrWhiteSpace(workExperience.Projects.Select(x => x.Name).First()))
                            {
                                <div class="col">
                                    @foreach (string tech in project.TechStack)
                                    {
                                        <span class="badge text-bg-primary fs-6 me-2 mb-3 border rounded-4">@tech</span>
                                    }
                                </div>
                            }
                        </div>

                        if (i < workExperience.Projects.Count - 1)
                        {
                            <hr/>
                        }
                    }
                </Content>
            </Card>
        </div>
    </div>
}

@code {

    [Inject]
    IDataService DataService { get; set; } = default!;

    IEnumerable<WorkExperienceDto> _dto = [];

    protected override async Task OnInitializedAsync()
    {
        _dto = await DataService.ParseJsonAsync<IEnumerable<WorkExperienceDto>>("work-experience");
    }

}